# Ignore Python virtual environments
venv/
__pycache__/

# Ignore Django migrations
*/migrations/

# Ignore database files
db.sqlite3
*.sqlite3

# Ignore environment variables
.env

# Ignore node modules for React frontend
frontend/node_modules/

# Ignore compiled Python files
*.pyc
*.pyo
